@charset "UTF-8";/******************************************************************************Home Page Slider*******************************************************************************/
#homepage-slider{padding-left:0;padding-right:0;margin-bottom:0;width:100%;overflow:hidden;position:relative;z-index:1;}
 #homepage-slider #homeslider{margin:0 auto;padding:0;font-size:53px;}
 #homepage-slider #homeslider li + li + li .homeslider-description h2{width:42%;}
 #homepage-slider .homeslider-description{padding:0;width:1170px;cursor:pointer;font-family:"Lato", sans-serif;position:absolute;left:50%;-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);top:11.4%;}
 @media only screen and (max-width:1199px){#homepage-slider .homeslider-description{width:100%;padding:0 20px;box-sizing:border-box;}
 }
 #homepage-slider .homeslider-description h2{font-size:80%;line-height:1.25em;color:#333333;margin:0 0 1.2%;padding:0;text-transform:uppercase;width:45%;position:relative;}
@media only screen and (max-width:1180px){#homepage-slider .homeslider-description h2{font-size:70%;}
 #homepage-slider .homeslider-description h2 br{display:none;}
}
 #homepage-slider .homeslider-description p{font-family:"Roboto", sans-serif;font-size:12px;line-height:22px;width:42%;position:relative;}
@media only screen and (max-width:1180px){#homepage-slider .homeslider-description h2{font-size:50%;}
 }
 @media only screen and (max-width:767px){#homepage-slider .homeslider-description p{display:none;}
 #homepage-slider .homeslider-description h2{font-size:40%;}
 }
@media only screen and (max-width:460px){#homepage-slider .homeslider-description h2{font-size:30%;line-height:1.26;}
 }
@media only screen and (max-width:410px){#homepage-slider .homeslider-description h2{font-size:26%;}
 }
/*****************************************************************************BXSlider Styles********************************************************************************/
#homepage-slider .homeslider-container{position:relative;}
#homepage-slider .homeslider-image{position:absolute;left:0;top:0;}
#homepage-slider .bx-wrapper{position:relative;padding:0;*zoom:1;}
 #homepage-slider .bx-wrapper a{display:block;}
 #homepage-slider .bx-wrapper img{display:block;height:411px;position:relative;left:50%;margin-left:-959px;width:1918px;}
@media only screen and (max-width:999px){#homepage-slider .bx-wrapper img{height:300px;margin-left:-700px;width:1400px;}
}
@media only screen and (max-width:800px){#homepage-slider .bx-wrapper img{margin-left:-750px;}
}
@media only screen and (max-width:767px){#homepage-slider .bx-wrapper img{height:200px;margin-left:-500px;width:933px;}
}
@media only screen and (max-width:460px){#homepage-slider .bx-wrapper img{margin-left:-310px;height:140px;width:653px;}
}
@media only screen and (max-width:410px){#homepage-slider .bx-wrapper img{margin-left:-350px;}
}
#homepage-slider .bx-wrapper .bx-viewport{width:100%;}
#homepage-slider .bx-wrapper .bx-pager,#homepage-slider .bx-wrapper .bx-controls-auto{position:absolute;bottom:16px;width:100%;z-index:999;width:1170px;left:50%;-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);}
 @media (max-width:1180px){#homepage-slider .bx-wrapper .bx-pager, #homepage-slider .bx-wrapper .bx-controls-auto{width:100%;box-sizing:border-box;padding-right:20px;}
 }
 @media only screen and (max-width:460px){#homepage-slider .bx-wrapper .bx-pager, #homepage-slider .bx-wrapper .bx-controls-auto{bottom:2px;}
 }
#homepage-slider .bx-wrapper .bx-loading{min-height:50px;background:url(../img/bx_loader.gif) center center no-repeat white;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000;}
#homepage-slider .bx-wrapper .bx-pager{text-align:right;font-size:.85em;font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#666;padding-top:28px;}
#homepage-slider .bx-wrapper .bx-pager .bx-pager-item,#homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline;}
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a{background:#a9a9a9;border:none;text-indent:9999px;display:block;width:10px;height:10px;margin:12px 4px 0 7px;outline:0;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active{background:#000000;}
#homepage-slider .bx-wrapper .bx-prev{left:77px;}
 #homepage-slider .bx-wrapper .bx-prev:after{content:"\f104";}
 @media (max-width:1199px){#homepage-slider .bx-wrapper .bx-prev{left:40px;}
 }
 @media (max-width:767px){#homepage-slider .bx-wrapper .bx-prev{left:2px;}
 }
#homepage-slider .bx-wrapper .bx-next{right:72px;}
 #homepage-slider .bx-wrapper .bx-next:after{content:"\f105";}
 @media (max-width:1199px){#homepage-slider .bx-wrapper .bx-next{right:40px;}
 }
 @media (max-width:767px){#homepage-slider .bx-wrapper .bx-next{right:2px;}
 }
#homepage-slider .bx-wrapper .bx-controls-direction a{position:absolute;top:45.3%;outline:0;width:52px;height:52px;text-indent:-9999px;z-index:9999;margin:0;line-height:20px;border:none;}
 @media (max-width:991px){#homepage-slider .bx-wrapper .bx-controls-direction a{top:35%;}
 }
 @media (max-width:767px){#homepage-slider .bx-wrapper .bx-controls-direction a{top:34%;}
 }
 @media (max-width:479px){#homepage-slider .bx-wrapper .bx-controls-direction a{top:28%;}
 }
 #homepage-slider .bx-wrapper .bx-controls-direction a:before{height:48px;width:48px;display:block;background:none;content:".";text-indent:-9999px;position:absolute;left:0;top:0;z-index:1;font-size:18px;}
 #homepage-slider .bx-wrapper .bx-controls-direction a:after{-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;display:block;width:48px;height:48px;color:#303030;text-indent:0;text-align:center;font-size:35px;font-family:"FontAwesome";position:absolute;top:0;left:2px;z-index:2;padding:16px 0 0 0;}
 #homepage-slider .bx-wrapper .bx-controls-direction a:hover:after{color:#ed425a;}
#homepage-slider .bx-wrapper .bx-controls-direction a.disabled{display:none;}
#homepage-slider .bx-wrapper .bx-controls-auto{text-align:center;}
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start{display:block;width:10px;height:11px;outline:0;margin:0 3px;}
 #homepage-slider .bx-wrapper .bx-controls-auto .bx-start:before{content:'';font-family:"FontAwesome";color:#303030;}
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop{display:block;width:9px;height:11px;outline:0;margin:0 3px;}
 #homepage-slider .bx-wrapper .bx-controls-auto .bx-stop:before{content:'';font-family:"FontAwesome";color:#303030;}
#homepage-slider .bx-wrapper .bx-controls .bx-controls-auto{right:15px;width:35px;top:15px;}
#homepage-slider .bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:#666;background:rgba(80, 80, 80, 0.75);width:100%;}
#homepage-slider .bx-wrapper .bx-caption span{color:white;font-family:Arial, Helvetica, sans-serif;display:block;font-size:.85em;padding:10px;}
.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before{background:#333333;}
#bx-pager-thumb{text-align:center;padding:10px 0;}
 #bx-pager-thumb a{display:inline-block;max-width:150px;width:31%;}
 #bx-pager-thumb a img{max-width:100%;height:auto;}